@import "tailwindcss";

body{
  background-color: white;
}
@theme inline {
  --animate-cell-ripple: cell-ripple var(--duration, 200ms) ease-out none 1
    var(--delay, 0ms);

  @keyframes cell-ripple {
    0% {
      opacity: 0.4;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      opacity: 0.4;
    }
  }
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px; 
  height: 16px; 
  border-radius: 50%;
  background: #bbe65b; /* your color */
  cursor: pointer;
}

/* for Firefox */
.slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #bbe65b; /* your color */
  cursor: pointer;
}
